<h1 align="center"><%= @user.username %>'s Account</h1>

 <!-- add in user details?  -->

<h4>Current Points:</h4>
<p><%= @user.points %></p>

<h4> Watchlist: </h4>
<ul>
  <% @user.watchlist.each do |movie| %>
    <li><%= link_to movie.name, movie_path(movie) %> <%= watchlist_action(@user, movie) %></li>
  <% end %>
</ul>