<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; 2020
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to 'Movies', movies_path %></li>
            </ul>
        </nav>
    </footer>
</div>